:root {
  --pandaGreen: rgb(76, 175, 80);
  --darkGrey: rgb(34, 34, 34);
  --hoverDarkGrey: rgb(54, 54, 54);
  --lightText: rgba(230, 230, 230, 1);
}

.file-list-container {
  margin-top: 10px;
  max-height: 700px;
  width: 50vw;
  max-width: 800px;
  overflow-y: auto;
  border-top: 1px solid #555;
  background-color: var(--darkGrey);
  position: relative; /* needed for Selecto positioning */
  user-select: none;
  font-size: 0.9rem;
}

.file-list-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border-bottom: 1px solid #555;
  padding: 6px 8px;
  font-weight: bold;
  color: var(--lightText);
  column-gap: 12px;
}

.file-list-header > div {
  border-right: 1px solid #555;
  padding-right: 8px;
}

.file-list-header > div:last-child {
  border-right: none;
}

.file-list-empty {
  padding: 10px;
  color: var(--lightText);
}

.file-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  column-gap: 12px;
  padding: 6px 8px;
  cursor: pointer;
  border-left: 6px solid transparent;
  color: var(--lightText);
  background-color: var(--darkGrey);
  transition: background-color 0.15s ease;
}

.file-item > div:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-item:hover {
  background-color: var(--hoverDarkGrey);
}

.file-item.selected {
  background-color: rgba(76, 175, 80, 0.15);
  border-left-color: var(--pandaGreen);
}

.file-item.selected:hover {
  background-color: rgba(76, 175, 80, 0.2); /* slightly brighter on hover */
}

.file-item.disabled {
  background-color: rgb(105, 52, 52);
  cursor: not-allowed;
}
.file-item .open-btn {
  justify-self: end;
  padding-left: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--pandaGreen);
}
